@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">bora trabalhar coco da praia</a>.</p>
</div>

<p>Criar area de Login para ADMIN</p>
<p>centralizar as opções do cabeçalho</p>
<p>dar um visual ilustrativo para a pagina, usando img...</p>
